<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>

  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>


  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>

  <%= link_to "Show", book_path(@book.id) %>
  <%= link_to "Back", books_path %>

<% end %>